APP_NAME=InnoDesign
APP_ENV=local
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=karlosf@gmail.com
MAIL_PASSWORD="xdrf cxjd ewme bvfa"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=karlosf@gmail.com
MAIL_FROM_NAME="InnoDesign"
MAIL_TO=karlosf@gmail.com
